 <html>
    <head>
        <title>Result of uploading.</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Result of uploading</h1>
            </div>
            <div id="content">
                {{status}}
            </div>
        </div>
    </body>
</html>
